<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录或注册页面</title>
</head>
<body>
<div id="app">
    <h2>登录</h2>
    <div>
        请输入用户名 <input name="username" type="text" v-model="username4login"><br>
        请输入密码<input name="password" type="password" v-model="password4login"><br>
        <button @click="login()">提交</button>
    </div>


    <h2>注册</h2>
    <div>
        请输入用户名 <input name="username" type="text" v-model="username" placeholder="长度限制5"><br>
        请输入密码<input name="password" type="password" v-model="password" placeholder="长度限制10"><br>

        <button @click="registry()">提交</button>
    </div>
</div>
</body>
<script src="js/axios.js"></script>
<script src="js/util.js"></script>
<script src="js/all.js"></script>
<script src="js/vue.js"></script>
<script>
    let vue = new Vue({
        el: '#app',
        data: {
            username4login:"",
            password4login:"",
            user: {
                username: "",
                password: ""
            }

        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
        },
        methods: {
            registry() {
                axios.post('/user/registry', this.user).then((response) => {
                    if (response.data.flag) {
                        window.location.href = response.data.message;
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
            login() {
                axios.get('/user/login?username=' + this.username4login + "&password=" + this.password4login).then(response => {
                    if (response.data.flag) {
                        window.location.href = response.data.message;
                    }
                })
            }
        }
    })
</script>
</html>